# .clang-tidy
---
Checks: '-*,clang-analyzer-*,cppcoreguidelines-*,hicpp-*,misc-*,performance-*,readability-*,cert-*,portability-*,-readability-identifier-naming,-hicpp-no-array-decay,-cppcoreguidelines-pro-type-vararg,-clang-analyzer-deadcode.DeadStores,-clang-analyzer-security.insecureAPI.vararg,-misc-non-private-member-variables-in-classes,-performance-unnecessary-value-param,-misc-unused-parameters'
HeaderFilterRegex: '^(src/|include/).*'
WarningsAsErrors: '*'

CheckOptions:
  - key:             misc-include-cleaner.IgnoreHeaders
    value:           'postprocess_internal\.h'
  - key:             misc-include-cleaner.MissingIncludes
    value:           'false'
  - key:             readability-implicit-bool-conversion.AllowIntegerConditions
    value:           'true'
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           'true'
  - key:             readability‑braces‑around‑statements.ShortStatementLines
    value:           '0'
  - key:             readability‑function‑size.LineThreshold
    value:           '200'
  - key:             readability‑identifier‑length.MinLength
    value:           '2'
