# .clang-format
BasedOnStyle: Google
IndentWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Linux
PointerAlignment: Left
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SortIncludes: true
IncludeCategories:
  - Regex:           '^<glad/.*'
    Priority:        -1
  - Regex:           '.*'
    Priority:        1