# Python development dependencies for suckless-ogl
# Install with: pip install -r requirements-dev.txt

# Linting and formatting
ruff
cltcache

# Testing and coverage
pytest
pytest-cov

# Documentation
mkdocs
mkdocs-material
mkdocs-kroki-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-glightbox
mkdocstrings
mkdocs-static-i18n
