---
InheritParentConfig: true
Checks: '-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-non-const-global-variables,-clang-analyzer-security.insecureAPI.bzero,-bugprone-sizeof-expression'
